<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.corporation.springboot.springbootlogin.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.company.corporation.springboot.springbootlogin.entity.User">
    <constructor>
      <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="misscount" javaType="java.lang.Integer" jdbcType="TINYINT" />
      <arg column="allowtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="logical_state" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <insert id="insert" parameterType="com.company.corporation.springboot.springbootlogin.entity.User">
    insert into user (id, user_name, company_id, 
      tel, password, role, 
      logical_state)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{role,jdbcType=VARCHAR}, 
      #{logicalState,jdbcType=VARCHAR})
  </insert>
  <select id="selectUserByid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from user where id = #{id}
  </select>
  <select id="selectUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from user where user_name = #{name}
  </select>
  <select id="selectUserByNamePwd" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from user where user_name = #{name} and password = #{password}
  </select>
  <update id="updateUserMissLogin">
    update user set
    misscount = #{misscount},allowtime = #{allowtime} where user_name = #{name}
  </update>

  <update id="updateUser" parameterType="com.company.corporation.springboot.springbootlogin.entity.User">
  update user
  <trim prefix="SET" suffixOverrides=",">

    <if test="misscount != null and misscount != '' ">
      misscount = #{misscount},
    </if>
    <if test="allowtime != null and allowtime != '' ">
      allowtime = #{allowtime},
    </if>
    <if test="logical_state != null ">
      logical_state = #{logical_state},
    </if>
  </trim>
  WHERE user_name = #{name}
  </update>
</mapper>